################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Quickly/bin
/Quickly/obj
/Quickly/obj
/Quickly/obj
/Quickly/obj/ARM/Debug/intermediatexaml
/Quickly/obj
